.necklace{
    position:fixed;
    &__image{
        margin-top: -20vh;
    }
}

@media (min-width: 1281px) {
    .necklace{
        &__image{
            margin-top: -10vh;
            width: 95%;
        }
    }
  }

@media (min-width: 1025px) and (max-width: 1280px) {
    .necklace{
        &__image{
            margin-top: -10vh;
            width: 80%;
        }
    }
  }

@media (min-width: 768px) and (max-width: 1024px){
    .necklace{
        &__image{
            margin-top: -10vh;
            width: 60%;
        }
    }
  }
  

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape){
    .necklace{
        &__image{
            margin-top: -15vh;
            width: 60%;
        }
    }
  }

@media (min-width: 812px) and (max-width: 926px) and (orientation: landscape){
    .necklace{
        &__image{
            margin-top: -20vh;
            width: 45%;
        }
    }
}

@media (min-width: 481px) and (max-width: 767px){
    .necklace{
        &__image{
            margin-top: -10vh;
            width: 30%;
        }
    }
}

@media (min-width: 320px) and (max-width: 480px){
    .necklace{
        &__image{
            margin-top: -15vh;
            width: 45%;
        }
    }
}