.case{
    /*background: rgb(138,138,138);
    background: radial-gradient(circle, rgba(138,138,138,1) 0%, rgba(241,240,245,1) 100%);
    */
    background-image: url('./images/Lorenzo.jpg');
    background-size: cover;
    overflow: hidden;
}

@media (min-width: 1281px) {
    //DESKTOP
    .case{
        width: 75vw;
        height: 75vh;
    }
      
    }
    
    @media (min-width: 1025px) and (max-width: 1280px) {
    //LAPTOP 
    .case{
        width: 80vw;
        height: 75vh;
        }
    }
    
    @media (min-width: 768px) and (max-width: 1024px) {
    //TABLET PORTRAIT//TABLET PORTRAIT   
    .case{
            width: 95vw;
            height: 120vh;
            }
    }
        
    @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    //TABLET LANDSCAPE
    .case{
            width: 85vw;
            height: 75vh;
            }
    }


    @media (min-width: 812px) and (max-width: 926px) and (orientation: landscape){
    //X-SERIES iPHONE LANDSCAPE
        .case{
                width: 85vw;
                height: 90vh;
                }
    }
    


    @media (min-width: 481px) and (max-width: 767px) {
    //PHONE LANDSCAPE
    .case{
            margin: 5vh auto;
            width: 90vw;
            height: 90vh;
            }
    }
    
    @media (min-width: 320px) and (max-width: 480px) {
    //PHONE PORTRAIT
    .case{
            margin: 0 auto 5vh auto;
            width: 95vw;
            height: 95vh;
            }
    }
  