*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  background-color: #f7e6dc;
  font-family: 'Lato', sans-serif;
  font-family: 'Bodoni Moda', serif;
  background-image: url('./images/mista_background.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
}
@media (min-width: 320px) and (max-width: 480px) {
  html{
  background-position: 0 25vh;
          }
  }
